[mail]
imap_server:
imap_port:
imap_account:
imap_password:
smtp_server:
smtp_port:
smtp_account:
smtp_password:


[file]
checkpoint_file: checkpoint.txt
target_keywords_file: target-keywords.txt
log_file: logfile.log
health_record_file: health-record.txt


[url]
# check for github api document
github_api_url:
github_token:


[common]
sender_address:
receiver_addresss: